useDynLib(plier)

import(methods)

importMethodsFrom(affy, mm, pm, probeNames)
importFrom(affy, normalize.AffyBatch.quantiles, ReadAffy)

importMethodsFrom(Biobase, annotation, experimentData, featureNames,
                  phenoData, sampleNames)

export(justPlier)
